body {
    font-family: Roboto;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #c7c9cd;
}